@model StopGambleProject.Models.Post.PostIndexModel

<div class="ui container segment left aligned" style="padding-top:20px;">
        <div class="ui grid">
                <div class="two column row">
                    <div class="ten wide column">
                        <h1>
                            @Model.Title
                        </h1>
                    </div>
                    <div class="two wide column">
                        <a class="ui inverted primary button" href="/Forum/Topic/@Model.ForumId">Back to @Model.ForumName</a>
                    </div>
                </div>
            </div>
</div>

<div style="padding-top:25px;">
    <div class="ui raised very padded text container post segment" style="padding-top:10px;">
        <div class="ui equal width grid">
            <div class="two column row">
                <div class="two wide column">
                    <a href="/Profile/Detail/@Model.AuthorId">
                        <img class="ui small image" src="@Model.AuthorImageUrl" style="width:50px;height:50px;border: 1px solid black;">
                    </a>
                </div>
                <div class="ten wide column" style="padding-top: 15px">
                    <h3>
                        @Model.Title
                        <span style="font-size:14px;">
                            @if (Model.IsAdmin)
                            {
                                <i class="chess queen icon" style="color:gold"></i>
                            }
                        </span>
                    </h3>
                </div>
            </div>
            <div class="one column row">
                <div class="twelve wide column">
                    <p> @Model.PostContent</p>
                </div>
            </div>
            <div class="one column row">
                <div class="eleven wide column">
                    <p> <a href="/Profile/Detail/@Model.AuthorId">@Model.AuthorName</a> (@Model.AuthorRating) - @Model.Created</p>
                </div>
                <div class="one wide column">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="ui green button">Reply</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div style="padding-top:25px; padding-bottom:25px;">
            <div class="ui raised very padded text container post segment" style="padding-top:10px;">
                <div class="ui equal width grid">
                    <div class="two column row">
                        <div class="two wide column">
                            <a href="/Profile/Detail/@reply.AuthorId">
                                <img class="ui small image" src="@reply.AuthorImageUrl" style="width:50px;height:50px;border: 1px solid black;">
                            </a>
                        </div>
                        <div class="ten wide column" style="padding-top: 15px">
                            <h3>
                                @Model.Title
                                <span style="font-size:14px;">
                                    - <a href="/Profile/Detail/@reply.AuthorId">@reply.AuthorName</a> (@reply.AuthorRating)
                                    @if (@reply.IsAdmin)
                                    {
                                        <i class="chess queen icon" style="color:gold"></i>
                                    }
                                </span>
                            </h3>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="twelve wide column">
                            <p> @reply.ReplyContent</p>
                        </div>
                    </div>
                    <div class="two column row">
                        <div class="two wide column">
                            <p> @reply.Created</p>
                        </div>
                        <div class="ten wide column">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="ui green button"> + Reply</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="ui raised very padded text container segment">
        @if (User.Identity.IsAuthenticated)
        {
            <p>There are no replies to this post, why not create one?</p>
            <a class="ui green button"> + Reply</a>
        }
        else
        {
            <p>There are no replies to this post.</p>
        }
    </div>
}
<br>