@model StopGambleProject.Models.Post.PostIndexModel
<br />
<div class="ui raised very padded text container post segment" style="padding-top:20px;">
    <div class="ui grid">
        <div class="two column row">
            <div class="three wide column">
                <a class="ui inverted primary button" href="/Forum/Topic/@Model.ForumId">Back to @Model.ForumName</a>
            </div>
            <div class="thirteen wide column">
                <h1>
                    @Model.Title
                </h1>
            </div>
        </div>
    </div>
</div>

<div style="padding-top:25px;">
    <div class="ui raised very padded text container post segment" style="padding-top:10px;">
        <div class="ui equal width grid">
            <div class="two column row">
                <div class="two wide column">
                    <a href="/Profile/Detail/@Model.AuthorId">
                        <img class="ui small image" src="@Model.AuthorImageUrl" style="width:50px;height:50px;">
                    </a>
                </div>
                <div class="ten wide column" style="padding-top: 15px">
                    <h3>
                        @Model.Title
                    </h3>
                </div>
            </div>
            <div class="one column row">
                <div class="twelve wide column">
                    <p> @Model.Content</p>
                </div>
            </div>
            <div class="one column row">
                <div class="ten wide column">
                    <p>
                        @if (Model.IsAdmin)
                        {
                            <i class="chess queen icon" style="color:gold"></i>
                        } <a href="/Profile/Detail/@Model.AuthorId">@Model.AuthorName</a> (@Model.AuthorRating) - @Model.Created
                    </p>
                </div>
            </div>
            <div class="ui fitted divider"></div>

            <div class="three column row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="two wide column">

                        <a href="/Reply/Create/@Model.Id" class="ui green button">Reply</a>
                    </div>
                }
                @if (User.Identity.Name == Model.AuthorName || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <div class="two wide column">
                        <button class="ui blue button editButton" type="button" id="editPostButton">Edit</button>
                    </div>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <div class="two wide column">
                        <button class="ui button red deleteButton" type="button" id="deletePostButton">Delete</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div style="padding-top:25px; padding-bottom:25px;">
            <div class="ui raised very padded text container post segment" style="padding-top:10px;">
                <div class="ui equal width grid">
                    <div class="two column row">
                        <div class="two wide column">
                            <a href="/Profile/Detail/@reply.AuthorId">
                                <img class="ui small image" src="@reply.AuthorImageUrl" style="width:50px;height:50px;">
                            </a>
                        </div>
                        <div class="ten wide column" style="padding-top: 15px">
                            <h3>
                                <span style="font-size:14px;">
                                    @if (@reply.IsAdmin)
                                    {
                                        <i class="chess queen icon" style="color:gold"></i>
                                    }
                                    <a href="/Profile/Detail/@reply.AuthorId">@reply.AuthorName</a> (@reply.AuthorRating)
                                </span>
                            </h3>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="sixteen wide column">
                            <p> @reply.ReplyContent</p>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="sixteen wide column">
                            <p> @reply.Created</p>
                        </div>
                    </div>
                    <div class="ui fitted divider"></div>

                    <div class="two column row">
                        @if (User.Identity.Name == Model.AuthorName || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <div class="two wide column">
                                <button class="ui blue button" type="button" id="editReplyButton">Edit</button>
                            </div>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <div class="two wide column">
                                <button class="ui button red deleteButton" type="button" id="deleteReplyButton">Delete</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    }
}
else
{
    <div class="ui raised very padded text container segment">
        @if (User.Identity.IsAuthenticated)
        {
            <p>There are no replies to this post, why not create one?</p>
            <a href="/Reply/Create/@Model.Id" class="ui green button">Reply</a>
        }
        else
        {
            <p>There are currently no replies to this post, would you like to <a href="/Identity/Account/Register">register</a> to join in on the discussion?</p>
        }
    </div>
}
<br>

@*Modal Edit Post Popup*@
<div class="ui modal editPost">
    <i class="close icon"></i>
    <div class="header">
        Edit post
    </div>
    <div class="image content">
        <div class="description">
            <form asp-action="EditPost" method="post" class="ui form" id="editPostForm">
                <div class="field">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <div class="field">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control" rows="20" placeholder="Your post..." style="box-sizing: border-box; border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;resize: none;" />@Model.Content</textarea>
                </div>
                <div class="actions">
                    <div class="ui black deny button">
                        Cancel
                    </div>
                    <a asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.Id" class="ui blue button">Edit Post</a>
                </div>
                <input asp-for="ForumId" type="hidden" />
            </form>
        </div>
    </div>
</div>
@*End Edit popup *@

@*Modal Delete Post Popup*@
<div class="ui modal deletePost">
    <i class="close icon"></i>
    <div class="header">
        Delete post
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">@Model.Title</div>
            <p>@Model.Content</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <a asp-controller="Post" asp-action="DeletePost" asp-route-id="@Model.Id" class="ui red button">Delete</a>
    </div>
</div>
@*End Delete popup *@

