@model StopGambleProject.Models.Post.PostIndexModel

    <div style="padding-top:15px;">
        <div class="ui raised very padded text container segment" style="padding-top:10px;">

            <h1>@Model.Title</h1>

            <p>
                Author: @Model.AuthorName (@Model.AuthorRating)
                Created: @Model.Created
            </p>

            <p>
                @Model.PostContent
            </p>
        </div>
    </div>
@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div class="ui raised very padded text container segment">
            <p>
                Author: @reply.AuthorName (@reply.AuthorRating)
                Created: @reply.Created
            </p>

            <p>
                @reply.ReplyContent
            </p>
        </div>
    }

}
else
{
    <div class="ui raised very padded text container segment">

        <p>There are no replies to this post.</p>
    </div>
}
