@model StopGambleProject.Models.Reply.PostReplyModel

<div style="padding-top:25px;">
   <div class="ui raised very padded text container post segment">
     <h2 class="ui left floated header"><img src="@Model.AuthorImageUrl">@Model.PostTitle</h2>
     <div class="ui clearing divider"></div>
       <p>@Model.PostContent</p>
      
       <p>  <a href="/Profile/Detail/@Model.PostAuthorId">@Model.PostAuthorName</a> (@Model.PostAuthorRating) - @Model.PostCreated</p>
   </div>
</div>

<div class="ui center aligned text container">
    <h1>New Reply to @Model.PostTitle in the @Model.ForumName Forum</h1>
    <h3>You are submitting this reply as @Model.AuthorName</h3>
    <form asp-action="AddReply" method="post" class="ui form" id="addPostForm">
        <div class="field">
            <textarea asp-for="ReplyContent" class="form-control" rows="20" placeholder="Your reply..." style="box-sizing: border-box; border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;resize: none;" /></textarea>
        </div>
        <button type="submit" class="ui green button" id="submitReply">Submit Reply</button>
        <input asp-for="AuthorId" type="hidden" />
        <input asp-for="PostId" type="hidden" />
        <input asp-for="ForumId" type="hidden" />
    </form>
</div>>

