@using Microsoft.AspNetCore.Identity
@using Project.Data.Models
@model StopGambleProject.Models.ApplicationUser.ProfileModel

@inject UserManager<ApplicationUser> UserManager
<br>
<div class="ui main text container" style="padding-top:25px;">
    <div class="ui grid">
        <h1>User Profile Page - @Model.UserName </h1>
        <div class="two column row">
            <div class="six wide column">
                <div class="ui cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="@Model.ProfileImageUrl"/>
                             @if (User.Identity.Name == Model.UserName)
                                {@if (!Model.ProfileImageUrl.Equals(""))
                                {
                                    <form method="post" class="center aligned" style="padding-top: 5px;padding-bottom: 5px;">
                                        <a href="/Profile/DeleteProfileImage/@Model.UserId" class="ui red button">Remove</a>
                                    </form>
                                }
                                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage" class="center aligned" style="padding-top: 5px;padding-bottom: 5px;">
                                        <label class="ui blue button">
                                            Browse <input type="file" name="file" style="display: none"/>
                                        </label>
                                        <button type="submit" class="ui green button">Upload</button>
                                    </form>
                                    
                                }
                        </div>
                        <div class="content">
                            <a class="header">@Model.UserName</a>
                            <div class="meta">
                                @if (@Model.IsAdmin)
                                {
                                    <p class="date">Role: Admin</p>
                                } else if (@Model.IsModerator && !Model.IsAdmin)
                                {
                                    <p class="date">Role: Moderator</p>
                                }
                                else
                                {
                                    <p class="date">Role: User</p>
                                }
                                <p class="date">Post count: @Model.PostCount</p>
                                <p class="date">Rating: @Model.UserRating</p>
                                <p class="date">Email: @Model.Email</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="calendar icon"></i>
                                <span class="date">Joined: @Model.MemberSince</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten wide column">
                <h1> Latest Posts</h1>
                <table class="ui celled table" id="forumIndexTable">
                    <tbody>
                    @foreach (var post in Model.UserPosts)
                    {
                        <tr>
                            <td>
                                <div class="ui grid">
                                    <div class="twelve wide column">

                                        <a href="/Post/Index/@post.Id">@post.Title</a>
                                        <div class="postSubTitle">
                                            @if (post.RepliesCount == 0)
                                            {
                                                <span>No Replies </span>
                                            }
                                            else
                                            {
                                                <span>Replies: @post.RepliesCount </span>
                                            }
                                            <span>, Date Posted: @post.DatePosted</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                @if (User.IsInRole("Admin") && !Model.IsModerator)
                {
                    <form type="post" asp-controller="Admin" asp-action="PromoteModerator" asp-route-userId="@Model.UserId">
                        <button type="submit" class="ui large blue button">Make Moderator</button>
                    </form>
                }
                @if (User.IsInRole("Admin") && Model.IsModerator)
                {
                    <form type="post" asp-controller="Admin" asp-action="RemoveModerator" asp-route-userId="@Model.UserId">
                        <button type="submit" class="ui large red button">Remove Moderator</button>
                    </form>
                }
            </div>
            
            </div>
    </div>
</div>
<br>