@using Microsoft.AspNetCore.Identity
@using Project.Data.Models;
@model StopGambleProject.Models.Home.HomeIndexModel;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <div class="ui center aligned text container">
        <h1 class="ui huge header">Forum Core</h1>
        <p class="lead">
           Deploy fast, lightweight and feature-rich forum software in minutes.
        </p>
        <p class="lead">
            Plans starting from completely free.
        </p>
        @if (SignInManager.IsSignedIn(User))
        {
        <form asp-controller="Search" asp-action="Search" method="post">
            <div class="ui input">
                <input type="text" placeholder="Search posts">
            </div>
        </form>
        }
    </div>

<div class="ui center aligned text container" style="padding-bottom: 25px">
    <h2>Latest Posts </h2>
    <table class="ui celled table" id="forumIndexTable">
        <tbody>
            @foreach (var post in Model.LatestPosts)
            {
                <tr>
                    <td>
                        <div class="ui grid">
                            <div class="one wide column">
                                <img class="ui small image" src="@post.Forum.ImageUrl" style="width:40px;height:40px;border: 1px solid black;">
                            </div>
                            <div class="eleven wide column">

                                <a href="/Post/Index/@post.Id">@post.Title</a>
                                <div class="postSubTitle">
                                    @if (post.RepliesCount == 1)
                                    {
                                        <span>@post.RepliesCount Reply </span>
                                    }
                                    @if (post.RepliesCount == 0)
                                    {
                                        <span>No Replies </span>
                                    }
                                    else
                                    {
                                        <span>@post.RepliesCount Replies </span>
                                    }
                                    <span class="postUser">
                                        , Author:
                                        <a href="Profile/Detail/@post.AuthorId">
                                            @post.AuthorName
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

