@using System.Security.Cryptography
@using Microsoft.AspNetCore.Identity
@using Project.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model StopGambleProject.Models.Search.SearchResultModel

<div class="ui container" style="padding-top:20px;">
    
        <div class="ui grid">
            <div class="one column row">
                <div class="twelve wide column">
                    <h1>
                        Search Results for: @Model.SearchQuery
                    </h1>
                </div>
            </div>
        </div>
    @if (Model.Posts.Any())
    {
    <form asp-controller="Search" asp-action="Search" method="post">
        <div class="ui input">
            <input asp-for="SearchQuery" style="width:500px;" type="text" placeholder="Search all forum posts">
            <button type="submit" class="ui blue button">
                <i class="search icon"></i>
            </button>
        </div>
    </form>
        @foreach (var post in Model.Posts)
        {
            <table class="ui celled table" id="forumIndexTable">
                <tbody>
                <tr>
                    <td>
                        <div class="ui grid">
                            <div class="one wide column">
                                <img class="ui small image" src="@post.AuthorImageUrl" style="width:40px;height:40px;border: 1px solid black;">
                            </div>
                            <div class="nine wide column">

                                <a href="/Post/Index/@post.Id">@post.Title</a>
                                <div class="postSubTitle">
                                    @if (post.RepliesCount == 1)
                                    {
                                        <span>@post.RepliesCount Reply </span>
                                    }
                                    @if (post.RepliesCount == 0)
                                    {
                                        <span>No Replies </span>
                                    }
                                    else
                                    {
                                        <span>@post.RepliesCount Replies </span>
                                    }
                                    <span class="postUser">
                                        , Author:
                                        <a href="Profile/Detail/@post.AuthorId">
                                            @post.AuthorName
                                        </a>
                                        (@post.AuthorRating)
                                    </span>
                                </div>
                            </div>
                            <div class="two wide column">
                                <p>@post.DatePosted</p>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <form asp-controller="Search" asp-action="Search" method="post">
            <div class="ui input">
                <input asp-for="SearchQuery" style="width:500px;" type="text" placeholder="Search all forum posts">
                <button type="submit" class="ui blue button">
                    <i class="search icon"></i>
                </button>
            </div>
        </form>
        
        <div class="ui raised very padded text container segment">
            <h3>@Model.SearchQuery has returned no results</h3>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>Maybe you'd like to be the first user to <a asp-controller="Post" asp-action="Create">create</a> a post about this?</p>
            }
        </div>
    }
</div>