@page
@using Project.Data.Models
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="ui center aligned text container">
    <div class="ui equal width grid">
        <div class="two column row">
            <div class="ten wide column">
                <h2 class="ui teal image header">
                    <div class="content">
                        Log-in to your account
                    </div>
                </h2>
                
                <div asp-validation-summary="All" class="text-danger"></div>

                <form id="account" method="post" class="ui form">
                    <div class="ui raised segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input asp-for="Input.UserName" placeholder="Username" class="form-control"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input asp-for="Input.Password" placeholder="Password" class="form-control"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe"/>
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" class="ui teal button">Log in</button>
                        </div>
                    </div>

                    <div class="ui error message"></div>

                </form>

                <div class="ui message">
                    <p>New to the Forum? <a href="/Identity/Account/Register">Sign Up</a></p>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </div>
            <div class="six wide column">
                <h4>Use another service to log in.</h4>
                <hr/>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}