@using System.Linq
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using StopGambleProject.Models.ApplicationUser
@using StopGambleProject.Models.Admin
@model StopGambleProject.Models.ApplicationUser.ProfileListModel

<div class="ui container" style="padding-top:20px;">
    <h1>Moderator panel</h1>
    <p>
        From here you can create moderators to help you manage content posted to your forum. Moderators have the ability to edit a users posts, delete a users post and lock a thread meaning
        that no one else can post to it. 
    </p>
                <h2>Current Moderators</h2>
                            <div class="ui cards">
                                @foreach (var profile in Model.Profiles)
                                {
                                    @if (profile.IsModerator)
                                    {
                                        <div class="card">
                                            <div class="blurring dimmable image">
                                                <div class="ui dimmer">
                                                    <div class="content">
                                                        <div class="center">
                                                            <div class="ui inverted button">Add Friend</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="@profile.ProfileImageUrl" />
                                            </div>
                                            <div class="content">
                                                <a class="header">@profile.UserName</a>
                                                <div class="meta">
                                                    <p class="date">Post count: @profile.PostCount</p>
                                                    <p class="date">Rating: @profile.UserRating</p>
                                                    <p class="date">Email: @profile.Email</p>
                                                </div>
                                            </div>
                                            <div class="extra content">
                                                <a>
                                                    <i class="calendar icon"></i>
                                                    <span class="date">Joined: @profile.MemberSince</span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

 </div>
